#frame
{
	background-color: black;
	height: 100%;
	width: 1000px;
	font-family: Arial;
	display: table;
	margin: auto;

}
#header
{
	background-color: orange;
	height: 60px;
	width: 950px;
	text-align: center;
	font-size: 40px;
	margin: auto;
	margin-top: 10px;
	padding: 15px;

}
#footer
{
	background-color: orange;
	width: 950px;
	height: 50px;
	text-align: center;
	display: table-footer-group;
	font-size: 22px;
	color: black;
	margin-right: auto;
	margin-left: auto;

}
#footer a 
{
	display: block;
	color: black;

}
#content
{
	width: 700px;
	height: 900px;
	float: left;

}

#sidebar
{
	width: 250px;
	height: 850px;
	background-color: orange;
	float: right;
	padding: 15px;
	margin-top: 10px;


}
#inMenu a
{
    display: block;
    font-size: 25px;
    color: black;
}
img
{
	width: 30%;
	padding: 10px;
}
video
{
	width: 50%;
	padding: 20px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	
}

